body{
    background-color: aquamarine;
}

.player{
    text-align: center;
    margin-top: 10px;
}

.player_1{
    float: left;
    width: 49%;
    background-color: aqua;
    

}

.player_2{
    float: right;
    width: 49%;
    background-color: blue;
}

h2{
    text-align: center;
}
.score{
    width: 60px;
    height: 40px;
    border-style: dotted;
    background-color: magenta;
}

.result{
    display: flex;
    margin-left: 42%;
    width: 100px;
    height: 100px;
    border-style: groove;
    background-color: bisque;
}

img{
    width: 100px;
    height: 100px;
}

.option{
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

.play{
    text-align: center;
    width: 20%;
    margin: auto;
    border-style: groove;
    background-color: green;
    margin-bottom: 20px;
    
}

.winner{
    position: fixed;
    margin-left: 510px;
    margin-top: 70px;
    color: red;
    font-weight: bolder;
    font-size: 80px;

}

.winner_box{
    width: 300px;
    height: 50px;
    position: fixed;
    margin-left: -130px;
    margin-top: 170px;
    background-color: lightcyan;
}

.round{
    width: 80px;
    height: 40px;margin-top: 20px;
    background-color: antiquewhite;
    border-style: double;
}
.counter{
    color: blueviolet;
}