body{
    background-color: aquamarine;
}

.player_1{
    float: left;
    width: 49%;
    background-color: aqua;
    

}

.player_2{
    float: right;
    width: 49%;
    background-color: blue;
}

h4{
    text-align: center;
    margin-top: 10px;
}

.score{
    width: 30px;
    height: 20px;
    border-style: dotted;
    background-color: magenta;
}

.result{
    display: flex;
    margin-left: 42%;
    width: 40px;
    height: 40px;
    border-style: groove;
    background-color: bisque;
}

img{
    width: 40px;
    height: 40px;
}

.option{
    width: 43%;
    margin: auto;
    padding-top: 10px;
}

.play{
    display: flex;
    margin-left: 40%;
    width: 60px;
    height: 20px;
    border-style: groove;
    background-color: green;
    
}

.winner{
    position: fixed;
    margin-left: 295px;
}

.winner_box{
    position: relative;
    width: 150px;
    height: 30px;
    margin-left: -30px;
}

.round{
    position: fixed;
    margin-left: 305px;
    margin-top:190px;
}

.round_played{
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

h3{
    color: red;
}