.main{
    
    width: 35%;
    margin: auto;
}

.text_area{
    display: block;
    width: auto;
    height: 80px;
    background-color: gainsboro;
}

.input{
    position: fixed;
    color: black;
    float: right;
    margin-top: 45px;
    margin-left: 200px;
    
}

.result{
    position: fixed;
    color: black;
    float: right;
    margin-top: 45px;
    margin-left: 205px;
    
}

.task{
    background-color: lightgreen;
    width: 55px;
    border-style: none;
    
}

.number{
    background-color: grey;
    width: 55px;
    color: white;
    border-style: none;
}
.special{
    width: 114px;
    background-color: lightgreen;
    border-style: none;
}
h1{
    text-align: center;
    color: burlywood;
}